In [1]:
import pandas as pd

# SAMPLED DATA

In [4]:
articles = pd.read_parquet('../data/02_intermediate/articles.parquet')
customers = pd.read_parquet('../data/02_intermediate/sampled_customers_s001.parquet')
transactions = pd.read_parquet('../data/02_intermediate/transactions_train_sampled_customers_s001.parquet')

In [6]:
articles.head(3)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
83828,0813504016,0813504,TP NORTON price LS,254,Top,Garment Upper body,1010017,Stripe,42,Red,...,Kids Boy Jersey Basic,H,Children Sizes 92-140,4,Baby/Children,72,Boys Underwear & Basics,1002,Jersey Basic,"Long-sleeved top in soft, organic cotton jerse..."
96099,0869035001,0869035,HAPPY TEE DEAL 2-p,255,T-shirt,Garment Upper body,1010008,Front print,10,White,...,Kids Boy Jersey Fancy,H,Children Sizes 92-140,4,Baby/Children,46,Kids Boy,1005,Jersey Fancy,"Classic T-shirts in soft, printed cotton jerse..."
31030,0630709001,0630709,Crista Dress S/S,265,Dress,Garment Full body,1010009,Glittering/Metallic,51,Light Pink,...,Baby Girl Jersey Fancy,G,Baby Sizes 50-98,4,Baby/Children,40,Baby Girl,1005,Jersey Fancy,"Dress in soft cotton jersey with a shimmering,..."

In [7]:
customers.head(3)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
1228654,e54b4e4d450ceb825bb65f292bb8809376819e55f81575...,NaN,NaN,ACTIVE,NONE,23,b0a4ce3b7a34a427df2ac7219f417aa403b5901216d233...
1299714,f28b395b5947e9ecb030e7f5fa8fc6cfe0ba2d3412439b...,NaN,NaN,PRE-CREATE,NONE,<NA>,245a7d277566e80c481f3944922271f61bf843f506aef5...
886584,a5766cb8d8ac2b7f3c168d0c5e7258b8dbec76aa6f406b...,NaN,NaN,ACTIVE,NONE,29,81432621f1902920dda3e2a1dc5d73e25a48316039e72e...

In [8]:
transactions.head(3)

,customer_id,t_dat,article_id,price,sales_channel_id
0,e54b4e4d450ceb825bb65f292bb8809376819e55f81575...,2019-05-24,0708977003,0.032068,2
1,e54b4e4d450ceb825bb65f292bb8809376819e55f81575...,2020-01-29,0591334037,0.012407,1
2,e54b4e4d450ceb825bb65f292bb8809376819e55f81575...,2019-08-09,0752379002,0.042356,2

# CLEANED DATA

In [9]:
articles = pd.read_parquet('../data/03_primary/articles_cleaned.parquet')
customers = pd.read_parquet('../data/03_primary/customers_cleaned.parquet')
transactions = pd.read_parquet('../data/03_primary/transactions_cleaned.parquet')
baskets = pd.read_parquet('../data/03_primary/baskets_cleaned.parquet')

In [10]:
articles.head(3)

,article_id,product_code,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,index_group_name,section_name,garment_group_name,detail_desc
83828,0813504016,0813504,TP NORTON price LS,Top,Garment Upper body,Stripe,Red,Bright,Red,Kids Boy Jersey Basic,Children Sizes 92-140,Baby/Children,Boys Underwear & Basics,Jersey Basic,"Long-sleeved top in soft, organic cotton jerse..."
96099,0869035001,0869035,HAPPY TEE DEAL 2-p,T-shirt,Garment Upper body,Front print,White,Light,White,Kids Boy Jersey Fancy,Children Sizes 92-140,Baby/Children,Kids Boy,Jersey Fancy,"Classic T-shirts in soft, printed cotton jerse..."
31030,0630709001,0630709,Crista Dress S/S,Dress,Garment Full body,Glittering/Metallic,Light Pink,Dusty Light,Pink,Baby Girl Jersey Fancy,Baby Sizes 50-98,Baby/Children,Baby Girl,Jersey Fancy,"Dress in soft cotton jersey with a shimmering,..."

In [11]:
customers.head(3)

,customer_id,postal_code,age,if_active,club_member_status,if_fashion_news,fashion_news_frequency
1228654,e54b4e4d450ceb825bb65f292bb8809376819e55f81575...,b0a4ce3b7a34a427df2ac7219f417aa403b5901216d233...,23,False,ACTIVE,False,None
1299714,f28b395b5947e9ecb030e7f5fa8fc6cfe0ba2d3412439b...,245a7d277566e80c481f3944922271f61bf843f506aef5...,<NA>,False,PRE-CREATE,False,None
886584,a5766cb8d8ac2b7f3c168d0c5e7258b8dbec76aa6f406b...,81432621f1902920dda3e2a1dc5d73e25a48316039e72e...,29,False,ACTIVE,False,None

In [12]:
transactions.head(3)

,basket_item_id,basket_id,article_id,price
0,63d6924c-0423-4d29-9d5a-e98acbd94a0c,1b225ba5-05b6-448a-b3e1-48080ddae5fd,0758064002,0.033881
1,31cdf1d5-a806-41e7-9d87-b2d52dec805c,1b225ba5-05b6-448a-b3e1-48080ddae5fd,0566140001,0.016932
2,ceb1091c-934c-4669-86a8-ce3a76fcce4d,3acd910c-5171-4ece-b91c-189cdb5ddcc7,0758060002,0.025407

In [13]:
baskets.head(3)

,basket_id,customer_id,t_date,if_online_sales_channel
0,1b225ba5-05b6-448a-b3e1-48080ddae5fd,0000d6c053fc8f9389d4565051f12402d5774aa4a9d2e5...,2019-06-22,0
1,3acd910c-5171-4ece-b91c-189cdb5ddcc7,0000d6c053fc8f9389d4565051f12402d5774aa4a9d2e5...,2019-07-06,0
2,33d1fd93-fce5-4dff-a0f5-a466db96de05,0000d6c053fc8f9389d4565051f12402d5774aa4a9d2e5...,2019-07-07,0