In [1]:
import pandas as pd

In [3]:
articles_fs = pd.read_parquet('../data/04_feature/articles_fs.parquet')
customers_fs = pd.read_parquet('../data/04_feature/customers_fs.parquet')

In [4]:
articles_fs.head()

,article_id,time,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,...,MEAN(transactions.baskets.COUNT(transactions))_2W,MEAN(transactions.baskets.MEAN(transactions.price))_2W,MEAN(transactions.baskets.SUM(transactions.price))_2W,"MEAN(transactions.baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_2W",MEAN(transactions.baskets.customers.age)_2W,SUM(transactions.baskets.COUNT(transactions))_2W,SUM(transactions.baskets.MEAN(transactions.price))_2W,SUM(transactions.baskets.SUM(transactions.price))_2W,"SUM(transactions.baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_2W",SUM(transactions.baskets.customers.age)_2W
0,0108775015,2020-09-22,Strap top,Vest top,Garment Upper body,Solid,Black,Dark,Black,Jersey Basic,...,0.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,0108775044,2020-09-22,Strap top,Vest top,Garment Upper body,Solid,White,Light,White,Jersey Basic,...,0.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,0108775051,2020-09-22,Strap top (1),Vest top,Garment Upper body,Stripe,Off White,Dusty Light,White,Jersey Basic,...,0.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
3,0110065001,2020-09-22,OP T-shirt (Idro),Bra,Underwear,Solid,Black,Dark,Black,Clean Lingerie,...,0.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,0110065002,2020-09-22,OP T-shirt (Idro),Bra,Underwear,Solid,White,Light,White,Clean Lingerie,...,0.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [11]:
articles_fs.mean()

<ipython-input-11-498d2c900c28>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  articles_fs.mean()
<ipython-input-11-498d2c900c28>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  articles_fs.mean()

COUNT(transactions)                                                      3.035616
MEAN(transactions.price)                                                 0.030000
SUM(transactions.price)_6M                                               0.084944
AVG_TIME_BETWEEN(transactions.baskets.t_date, unit=days)_6M             18.554161
COUNT(transactions WHERE articles.product_type_name = Top)_6M            0.149817
COUNT(transactions WHERE articles.product_type_name = Trousers)_6M       0.399102
COUNT(transactions WHERE articles.product_type_name = Sweater)_6M        0.265875
COUNT(transactions WHERE articles.product_type_name = T-shirt)_6M        0.210968
COUNT(transactions WHERE baskets.if_online_sales_channel = 1)_6M         0.000000
COUNT(transactions WHERE articles.product_type_name = Dress)_6M          0.306333
MEAN(transactions.baskets.COUNT(transactions))_6M                        1.691971
MEAN(transactions.baskets.MEAN(transactions.price))_6M                   0.027839
MEAN(transactions.baskets.SUM(transactions.price))_6M                    0.048033
MEAN(transactions.baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_6M     0.017276
MEAN(transactions.baskets.customers.age)_6M                             35.402823
SUM(transactions.baskets.COUNT(transactions))_6M                         5.573317
SUM(transactions.baskets.MEAN(transactions.price))_6M                    0.021040
SUM(transactions.baskets.SUM(transactions.price))_6M                     0.149050
SUM(transactions.baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_6M      0.013331
SUM(transactions.baskets.customers.age)_6M                              27.122634
SUM(transactions.price)_2W                                               0.084944
AVG_TIME_BETWEEN(transactions.baskets.t_date, unit=days)_2W              2.748334
COUNT(transactions WHERE articles.product_type_name = Top)_2W            0.149817
COUNT(transactions WHERE articles.product_type_name = Trousers)_2W       0.399102
COUNT(transactions WHERE articles.product_type_name = Sweater)_2W        0.265875
COUNT(transactions WHERE articles.product_type_name = T-shirt)_2W        0.210968
COUNT(transactions WHERE baskets.if_online_sales_channel = 1)_2W         0.000000
COUNT(transactions WHERE articles.product_type_name = Dress)_2W          0.306333
MEAN(transactions.baskets.COUNT(transactions))_2W                        0.158320
MEAN(transactions.baskets.MEAN(transactions.price))_2W                   0.033006
MEAN(transactions.baskets.SUM(transactions.price))_2W                    0.005723
MEAN(transactions.baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_2W     0.021219
MEAN(transactions.baskets.customers.age)_2W                             34.990430
SUM(transactions.baskets.COUNT(transactions))_2W                         0.317883
SUM(transactions.baskets.MEAN(transactions.price))_2W                    0.001717
SUM(transactions.baskets.SUM(transactions.price))_2W                     0.011155
SUM(transactions.baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_2W      0.001004
SUM(transactions.baskets.customers.age)_2W                               1.724498
dtype: float64

In [5]:
customers_fs.head()

,customer_id,time,postal_code,age,if_active,club_member_status,if_fashion_news,fashion_news_frequency,"AVG_TIME_BETWEEN(baskets.t_date, unit=days)",COUNT(baskets)_6M,...,SUM(baskets.MEAN(transactions.price))_2W,"SUM(baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_2W","AVG_TIME_BETWEEN(transactions.baskets.t_date, unit=days)_2W",COUNT(baskets WHERE customers.fashion_news_frequency = Regularly)_2W,COUNT(transactions WHERE articles.product_type_name = Top)_2W,COUNT(transactions WHERE articles.product_type_name = Trousers)_2W,COUNT(transactions WHERE articles.product_type_name = Sweater)_2W,COUNT(transactions WHERE articles.product_type_name = T-shirt)_2W,COUNT(transactions WHERE baskets.if_online_sales_channel = 1)_2W,COUNT(transactions WHERE articles.product_type_name = Dress)_2W
0,0000d6c053fc8f9389d4565051f12402d5774aa4a9d2e5...,2020-09-22,5b5f53c673d0fc0774fbbd3b2174b799c99f12029605ee...,41,True,ACTIVE,True,Regularly,NaN,0,...,0.0,0.0,NaN,0,0,0,0,0,0,0
1,0001076e215991bad544dd3e7312f78d9f576a1cc3ddc4...,2020-09-22,9120142ed06bcd1e39726f05a3c6573f58e4826dc9d717...,22,False,ACTIVE,False,None,27.0,3,...,0.0,0.0,NaN,0,0,0,0,0,0,0
2,0002e6cdaab622b5047407efc0d0bf85e23220e0920120...,2020-09-22,e3fe8160ace8eba9c7e2c8fb711c1b4393994e2c1cd032...,25,False,ACTIVE,False,None,34.0,3,...,0.0,0.0,NaN,0,0,0,0,0,0,0
3,00041bd4c669adc077b6488a2d23ee229a9ad962ab3ee7...,2020-09-22,ea731df2fc7625e27cb20ea1a17bb3255ddb125ef35459...,58,False,PRE-CREATE,False,None,NaN,0,...,0.0,0.0,NaN,0,0,0,0,0,0,0
4,000659db9979238065fe1f032cd87839b9a6ccf97d404f...,2020-09-22,9e1f56757545a663b22214c4b5b685f89d2a90444562b7...,22,False,ACTIVE,False,None,NaN,0,...,0.0,0.0,NaN,0,0,0,0,0,0,0

In [7]:
customers_fs.mean()

<ipython-input-7-fc5a5ffcc8b5>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  customers_fs.mean()
<ipython-input-7-fc5a5ffcc8b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  customers_fs.mean()

age                                                                     36.386168
if_active                                                                0.343149
if_fashion_news                                                          0.351458
AVG_TIME_BETWEEN(baskets.t_date, unit=days)                             33.622126
COUNT(baskets)_6M                                                        1.702988
COUNT(transactions)_6M                                                   6.004592
MEAN(transactions.price)_6M                                              0.027550
SUM(transactions.price)_6M                                               0.161855
COUNT(baskets WHERE if_online_sales_channel = 1)_6M                      0.000000
MEAN(baskets.COUNT(transactions))_6M                                     3.656246
MEAN(baskets.MEAN(transactions.price))_6M                                0.028032
MEAN(baskets.SUM(transactions.price))_6M                                 0.098546
MEAN(baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_6M                  0.029783
SUM(baskets.MEAN(transactions.price))_6M                                 0.047388
SUM(baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_6M                   0.053353
AVG_TIME_BETWEEN(transactions.baskets.t_date, unit=days)_6M              6.501401
COUNT(baskets WHERE customers.fashion_news_frequency = Regularly)_6M     0.792566
COUNT(transactions WHERE articles.product_type_name = Top)_6M            0.296501
COUNT(transactions WHERE articles.product_type_name = Trousers)_6M       0.728571
COUNT(transactions WHERE articles.product_type_name = Sweater)_6M        0.220117
COUNT(transactions WHERE articles.product_type_name = T-shirt)_6M        0.475292
COUNT(transactions WHERE baskets.if_online_sales_channel = 1)_6M         0.000000
COUNT(transactions WHERE articles.product_type_name = Dress)_6M          0.767711
COUNT(baskets)_2W                                                        0.120773
COUNT(transactions)_2W                                                   0.384548
MEAN(transactions.price)_2W                                              0.034572
SUM(transactions.price)_2W                                               0.013210
COUNT(baskets WHERE if_online_sales_channel = 1)_2W                      0.000000
MEAN(baskets.COUNT(transactions))_2W                                     3.237501
MEAN(baskets.MEAN(transactions.price))_2W                                0.034686
MEAN(baskets.SUM(transactions.price))_2W                                 0.110536
MEAN(baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_2W                  0.027530
SUM(baskets.MEAN(transactions.price))_2W                                 0.004221
SUM(baskets.TIME_SINCE_PREVIOUS(t_date, unit=days))_2W                   0.003790
AVG_TIME_BETWEEN(transactions.baskets.t_date, unit=days)_2W              0.373408
COUNT(baskets WHERE customers.fashion_news_frequency = Regularly)_2W     0.059257
COUNT(transactions WHERE articles.product_type_name = Top)_2W            0.026603
COUNT(transactions WHERE articles.product_type_name = Trousers)_2W       0.065962
COUNT(transactions WHERE articles.product_type_name = Sweater)_2W        0.051312
COUNT(transactions WHERE articles.product_type_name = T-shirt)_2W        0.021064
COUNT(transactions WHERE baskets.if_online_sales_channel = 1)_2W         0.000000
COUNT(transactions WHERE articles.product_type_name = Dress)_2W          0.029300
dtype: float64